.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #530b06;
  color: white;
  padding: 20px;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.App-footer {
  background-color: #290603;
  color: white;
  padding: 10px;
}

/* Loader rond */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #530b06;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.book-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 60%;
  max-width: 600px;
}

.book-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.book-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.book-list li a {
  text-decoration: none;
  color: #530b06;
  transition: color 0.2s;
}

.book-list li a:hover {
  color: #290603;
}